<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendor_omnichat>
            <general>
                <key></key>
                <token></token>
                <webhook_url></webhook_url>
            </general>
        </vendor_omnichat>
    </default>
</config>
