<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\Index">
        <plugin name="custom_cart_loader" type="Vendor\OmniChat\Plugin\CartLoaderPlugin" />
    </type>

    <preference for="Vendor\OmniChat\Api\ShippingQuoteInterface" type="Vendor\OmniChat\Model\Quote" />
</config>
